
/* chargement d'une police externe */
@font-face {
    font-family: 'Blinker-Regular';
    src: url('Blinker-Regular.ttf');
}

* {
    font-family:'Blinker-Regular', sans-serif;
    color : white;
}

/* suppression des marges du body */
body {
    margin: 0;
    background: linear-gradient(180deg, teal, goldenrod) no-repeat center; 
    background-size: 100% auto;
    min-height: 100vh;
    padding-bottom: 20px;
}

nav{
    width:50%;
    margin : 20px;
    margin-bottom: 30px;
    background-color: black;
}

nav a {
    color : white;
    text-decoration: none;
    font-size: 1.2em;
}

nav a:hover {
    color : grey;
    border: 1px solid white;
}

.menu {
    margin: 0;
    padding: 1em;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    gap: 1em;
    justify-items:center;

}

h1 {
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    text-align : center;
    text-shadow : 3px 3px 6px black;
   
}

.container2 {
    margin: auto;
    padding: 15px;
    display: flex;
    height: 600px;
    width: 30vw;
    background-color: black;
    background-position: center;
    border: 5px grey;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.formulaire {
    margin: auto;
    border: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    }
    
.formulaire input {
    margin: 10px;
    margin-top: 0px;
    margin-left: 0px;
    height: 30px;
    background-color: black;
    border:none;
    border-bottom:1px solid white;
}

.label {
    margin-top: 10px;
    margin-bottom: 0px;
}

.titreH2 {
    margin: auto;
    text-align: center;
}

.comment {
    padding-top: 20px;
    font-weight: light;
    font-style: italic;
    font-size: 0.6em;
    color:rgb(193, 193, 193);
    text-align: left;
}

.bouton {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.validation {
    width: 30%;
    padding: 5px;
    color:black
}

.password-container {
    padding: 10px;
    padding-bottom: 0px;
}

.strength-meter {
    margin-bottom: 5px;
    width: 95%;
    height: 3px;
    background: white;
    border-radius: 5px;
    /* overflow: hidden; */
}

.strength-bar {
    height: 100%;
    transition: width 0.3s;
}

.strength-text, #strength-text {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 0.8em;
    /* color:goldenrod; */
    text-align: center;
}
/* exemple pseudo selecteur avec :: */
/* p::first-letter {
    font-size: 5em;
    color:red;
}

p::before {
    font-size: 3em;
    color:red;
    content:"Salut!";
} */



/* animation: mymove 5s forwards; */
/* animations */
@keyframes mymove {
    from {
        right: 5em;
    }

    to {
        right: 1em;
    }
}

