
/* chargement d'une police externe */
@font-face {
    font-family: 'Blinker-Regular';
    src: url('Blinker-Regular.ttf');
}

* {
    font-family:'Blinker-Regular', sans-serif;
    color : white;
}

/* suppression des marges du body */
body {
    margin: 0;
    background: linear-gradient(180deg, teal, goldenrod) no-repeat center;
    background-size: 100% auto;
    min-height: 100vh;
    padding-bottom: 20px;
}

nav{
    width:50%;
    margin : 20px;
    margin-bottom: 30px;
    background-color: black;
}

nav a {
    color : white;
    text-decoration: none;
    font-size: 1.2em;
}

nav a:hover {
    color : grey;
}

.menu {
    margin: 0;
    padding: 1em;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    gap: 1em;
    justify-items:center;

}

h1 {
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    text-align : center;
    text-shadow : 3px 3px 6px black;
   
}

.container {
    margin: auto;
    padding:15px;
    display: flex;
    height : 600px;
    width: 40%;
    background-color: black;
    background-position: center;
    border: 5px grey;
    border-radius: 10px;
    flex-direction: column;
    justify-content:space-around;
    align-items: flex-start;
}

.container ul {
    padding-left: 15px;
}

.container img {
    width: 60%;
    display: block;
    margin: auto;
}


.titreH2 {
    margin: auto;
    text-align: center;
}


/* animations */
@keyframes mvtbahaut {
    from {
        bottom: 5em;
    }

    to {
        bottom: 1em;
    }
}

strong {
font-size: 1.1em;
font-weight: bold;
color:goldenrod;
}

/* footer img:hover {
    animation: myrotation 3s forwards;
} */


/* animations */
@keyframes myrotation {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(180deg);
    }
}

/* exemple pseudo selecteur avec :: */
/* p::first-letter {
    font-size: 5em;
    color:red;
}

p::before {
    font-size: 3em;
    color:red;
    content:"Salut!";
} */



/* animation: mymove 5s forwards; */
/* animations */
@keyframes mymove {
    from {
        right: 5em;
    }

    to {
        right: 1em;
    }
}

